
body {
    background-color:rgb(254, 250, 250);
}


#container1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height:70px;
    border: 2px solid white;
    box-sizing: border-box;
    z-index: 1000;
}

#mei {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-top: 0px;
}

#im1 {
    width: 50px;
    height: 50px;
}

#profimg {
    width: 150px;
    height: 150px;
    margin-top: 10px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

#profimg:hover {
    transform: scale(1.1);
    cursor: pointer;
}


#m1 {
    color: gold;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;

    text-transform: capitalize;
    animation: smoothFade 3s ease-in-out infinite;
    opacity: 0;
}

@keyframes smoothFade {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}


#s1 {
    flex-grow: 1;
    max-width: 600px;

    height: 50px;
    margin-left: 20px;

    border: 2px solid gold;
    border-radius: 30px;

    text-align: center;
    font-size: large;
    color: white;
}


#tcon {
    display: flex;
    justify-content: center;
}

#time {
    margin: 0 5px;
    color: white;
    font-size: larger;
}

#time:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}


#menucon {
    display: flex;
    justify-content: start;
}

#clink {
    color: white;
    padding-left: 10px;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
}

#clink:hover {
    color: black;
    background-color: white;
    cursor: pointer;
} 
#c1 {
    transition: transform 0.3s ease;
}

#c1:hover {
    transform: scale(1.05);
    cursor: pointer;
}


#introcon {
    background-color: red;
    display: block;
    margin-top: 20px;
    padding: 10px;
}

#introcon1 {
    background-color: white;
    max-width: 1000px;
    margin: 10px auto;
    padding: 10px;

    border-radius: 30px;
    text-align: justify;
}

#introtext {
    color: black;
    font-size: larger;
    text-align: justify;
    font-family: Arial;
    padding: 10px;
}


#SH {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}


#mes {
    width: 70px;
    height: 70px;

    display: flex;
    justify-content: center;

    animation: floatUpDown 3s ease-in-out infinite;
    position: fixed;
    align-items: center;
}

@keyframes floatUpDown {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}


#brlogo {
    display: flex;
    justify-content: center;
}

#HTex {
    color: orange;
    font-weight: bold;
    font-size: 30px;
    font-family: Arial;
    text-transform: capitalize;
}


@media (max-width: 480px) {

    #m1 {
        color: white;
        font-size: small;
        animation: none;
        opacity: 1;
    }

    #container1 {
        min-height: 50px;
        overflow: hidden;
    }

    #s1 {
        max-width: 300px;
        height: 30px;
        font-size: small;
    }

    #mei {
        width: 30px;
        height: 30px;
    }

    #time {
        font-size: small;
    }

    #HTex {
        font-size: small;
    }

    #cktext {
        font-size: 15px;
    }
}
